*{
    margin: 0;
    padding: 0;
}

pre.styleEditor{
    height: 50vh;
    overflow: hidden;
}

code.styleCode{
    box-sizing: border-box;
    margin: 10px;
    height: 50vh;
    overflow: hidden;
}


div.preview{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
div.wrapper{
    width: 320px;
    height: 160px;
    position: relative;
}

div.nose:hover{
    animation:nose 3s 
}

.code-wrapper{
    position: relative;
}

.code-wrapper .button-wrapper{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.button-wrapper button{
    display: block;
    font-size: 15px;
    width: 4em;
    padding: 0.4em;
    background-color: rgb(182, 182, 182);
    margin-top: 1em;
}

@keyframes nose {
    0% { transform: translateX (-50%)rotate(0deg); }
    33% { transform:translateX(-50%) rotate(-5deg); }
    67% { transform: translateX(-50%) rotate(5deg); }
    100% { transform: translateX(-50%) rotate(0deg); }
  }