*{
    margin: 0;
    padding: 0;
}

pre.styleEditor{
    height: 50vh;
    overflow: hidden;
}

code.styleCode{
    box-sizing: border-box;
    margin: 10px;
    height: 50vh;
    overflow: hidden;
}


div.preview{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
div.wrapper{
    width: 320px;
    height: 160px;
    position: relative;
}

div.nose:hover{
    animation:nose .23s infinite 
}

@keyframes nose {
    0% { transform: translateX(-50%)rotate(0deg); }
    33% { transform:translateX(-50%) rotate(-5deg); }
    67% { transform: translateX(-50%) rotate(5deg); }
    100% { transform: translateX(-50%) rotate(0deg); }
  }